.technology {
  min-height: 100vh;
  background: url("../../assets/technology/background-technology-desktop.jpg")
    no-repeat;
  background-size: cover;
  position: relative;
}

.technology-content {
  display: flex;
  padding: 3.5625rem 0 0 10.375rem;
}

.technology-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.technology-links {
  background: transparent;
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #ffffff40;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Bellefair", serif;
  cursor: pointer;
}

.technology-links:hover {
  border: 1px solid #ffffff;
}

.techonolgy-links-active {
  background: #ffffff;
  color: #0b0d17;
}

.technology-text-box {
  margin-left: 5rem;
}

.technology-large-text {
  font-family: "Bellefair", serif;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #ffffff;
}

.technology-medium-text {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.6875rem;
  color: #d0d6f9;
}

.technology-small-text {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
  color: #d0d6f9;
  height: 10.125rem;
  width: 27.75rem;
}

.image {
  width: 32.1875rem;
  height: 32.9375rem;
  position: absolute;
  right: 0;
  top: 17rem;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .technology {
    background: url("../../assets/technology/background-technology-tablet.jpg")
      no-repeat;
    background-size: cover;
  }

  .image {
    position: relative;
    left: 0;
    top: 0;
    order: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 3.5rem;
  }

  .technology-content {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .technology-nav {
    flex-direction: row;
    order: 2;
  }

  .technology-text-box {
    order: 3;
    margin: 0;
  }

  .technology-links {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    margin-bottom: 2.75rem;
  }

  .technology-text-box {
    text-align: center;
  }

  .technology-large-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .technology-medium-text {
    margin-bottom: 1rem;
  }

  .technology-small-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .technology {
    background: url("../../assets/technology/background-technology-mobile.jpg")
      no-repeat;
    background-size: cover;
    height: max-content;
  }

  .image {
    position: relative;
    left: 0;
    top: 0;
    order: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 2.125rem;
  }

  .technology-content {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .technology-nav {
    flex-direction: row;
    order: 2;
  }

  .technology-text-box {
    order: 3;
    margin: 0;
  }

  .technology-links {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-bottom: 1.625rem;
  }

  .technology-text-box {
    text-align: center;
  }

  .technology-large-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .technology-medium-text {
    margin-bottom: 0.5625rem;
  }

  .technology-small-text {
    font-size: 0.9375rem;
    width: 20.4375rem;
    height: 10.9375rem;
  }

  .technology-text-box {
    margin-left: 0;
  }
}
