.navigation {
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 4rem;
  padding-left: 3.25rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  gap: 31.6875rem;
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle {
  position: absolute;
  left: 10.4375rem;
  z-index: 2;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3.125rem;
  letter-spacing: 2.7px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
}

.menu > ul {
  margin-left: 7.6875rem;
}

.link {
  height: 6rem;
  display: flex;
  align-items: center;
  color: #d0d6f9;
  border: none;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}

.link:hover {
  border-bottom: 3px solid #ffffff80;
}

.link > span {
  font-weight: 700;
  margin-right: 11px;
  color: #ffffff;
}

.active-link {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.hamburger {
  margin-top: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hamburger {
    display: none;
  }

  .rectangle {
    display: none;
  }

  .spaceicon {
    flex-shrink: 0;
  }

  .link > span {
    display: none;
  }

  .navigation {
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 0rem;
    padding-left: 2.4375rem;
    gap: 0rem;
    justify-content: space-between;
    font-size: 0.875rem;
  }

  .menu {
    padding: 0 3rem;
    width: 28.125rem;
    margin-left: 0;
    gap: 2.3125rem;
  }
}

@media screen and (max-width: 768px) {
  .rectangle {
    display: none;
  }

  .spaceicon {
    display: none;
  }

  .link {
    height: 3rem;
  }

  .link > span {
    display: none;
  }

  .navigation {
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 0rem;
    padding-left: 0;
    gap: 0rem;
    justify-content: space-between;
    font-size: 0.875rem;
  }

  .menu {
    background: none;
    backdrop-filter: blur(0px);
    padding: 0 0 0 0;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    font-size: 1rem;
  }
}
