.header {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.75rem;
  letter-spacing: 4.72px;
  color: #ffffff;
  font-weight: 400;
  padding: 13.25rem 0 6.0625rem 10.375rem;
}

.header > span {
  opacity: 0.25;
  margin-right: 1.75rem;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header {
    font-size: 1.25rem;
    padding: 8.5rem 0 3.75rem 2.375rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 1rem;
    padding: 5.5rem 0 2rem 0;
    text-align: center;
  }
}
